<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="..\static/style.css">
    <script>
        function redirectToLogin(){
            window.location.href = '/login';  // Redirect to login page
        }
    </script>
</head>
<body>
    <div id="registration-box">
        <div id="registration-header">
            <h1>Register</h1>
        </div>
        <form action="/register" method="POST">
            <div id="input-box">
                <input type="text" name="full_name" id="full_name" required placeholder="Full Name">
            </div>
            <div id="input-box">
                <input type="email" name="email" id="email" required placeholder="Email">
            </div>
            <div id="input-box">
                <input type="password" name="password" id="password" required placeholder="Password">
            </div>
            <div id="input-box">
                <input type="password" name="cpassword" id="cpassword" required placeholder="Confirm Password">
            </div>
            {% if msg %}
                <p style="color: red; text-align: center;">{{ msg }}</p>
            {% endif %}
            <div>
                <input type="submit" name="submit" id="submit" value="Register">
            </div>
        </form>
        <form action="/gotologin">
            <div id="login-link" style="display: flex;justify-content: center; align-items: center; ">
                <p>Already have an account?</p>
                <input type="submit" name="submit1" id="submit1" value="signin" style="border: none; background: none; color: black; font-weight: bold;">
            </div>
        </form>
    </div>
</body>
</html>
